body{
    margin:0px;
}
.header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:green;
    padding: 10px 20px;
    text-transform: capitalize;
}
    img{
            height:70px;
            width:70px

        }
        .header.options.a{
            text-decoration: none;
            color:aqua;
            font-size:10px;
        }
        .header button{
            border:5px sandybrown;
            border-radius:6px;
            color:greenyellow;
            font-size:20px
        }
        .home{
            display:flex;
            justify-content: space-around;
            background-color: blanchedalmond;
        }
        
